.choose1{
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff; 
    margin-right:30px;
    padding-left:5px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.choose2{
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
    padding-left:5px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    }